<div class="flex flex-col justify-center items-center border-2 border-blue-800 h-[90vh]"
>
  <form
  [formGroup]="recoveryForm"
  (ngSubmit)="onSubmitRecoveryPassword(recoveryForm)"
    class="w-[700px] h-[400px] border-2 border-red-600 flex flex-col gap-10 justify-start items-center"
  >
    <div class="mt-2 w-[128px]">
      <img src="assets/media/logoUni.png" alt="UNI-LOGO" width="162px" height="100px" />
    </div>
    <div
      class="bg-primary shadow-[0px_0px_10px_0px_rgba(0, 0, 0, 0.20)] rounded-xl border-2 flex flex-col w-[80%] h-[80%] justify-start items-center text-xl"
    >
      <div class="flex flex-col items-center justify-center w-[85%] gap-4 text-center">
        <p class="text-secondary font-bold mt-10 w-full">Recuperar contraseña</p>
        <!-- CAMPOS DE FORMULARIO PARA LA RECUPERACION DE CONTRASEÑA-->
        <div class="flex flex-1 w-full">
          <input
            pInputText
            id="email"
            formControlName="email"
            class="w-full h-[50px]"
            placeholder="Ingresa tu correo electrónico"
          />
        </div>
        <!-- BOTÓN DE RECUPERAR CONTRASEÑA -->
        <div class="flex flex-row gap-5 w-1/2">
          <button
            pButton
            label="Cancelar"
            type="button"
            [routerLink]="[ '/auth/login' ]"
            class="justify-center w-1/2 bg-transparent border-[1px] border-secondary rounded-md py-2 px-8 cursor-pointer text-center text-base text-secondary"
          ></button>
          <button
            pButton
            label="Enviar"
            type="submit"
            [disabled]="!recoveryForm.valid"
            class="justify-center w-1/2 bg-secondary rounded-md py-2 px-6 border-none cursor-pointer text-center text-base text-primary"
          ></button>
        </div>
        <hr class="bg-[#ABABABCC] h-[2px] w-full" />
        <div class="w-full flex flex-col gap-3 mb-3 m-auto justify-center">
          <span class="text-secondary text-base text-center"
            >¿Problemas? Consulta a <a href="" class="underline">soporte técnico</a> o al
            <a href="" class="underline">22784984</a></span
          >
        </div>
      </div>
    </div>
  </form>
</div>
